@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300; }

img {
  max-width: 100%; }

.container {
  width: 1170px;
  margin: auto; }

@media (max-width: 1200px) {
  .container {
    width: 760px; } }
@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%; } }
@media (max-width: 567px) {
  .container {
    width: 277px; } }
.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  outline: none; }
  .button:hover {
    background-color: #ffdb33;
    cursor: pointer; }

.section {
  padding: 61px 0; }
  .section-title {
    font-size: 24px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center; }
  .section-subtitle {
    display: block;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: -5px; }

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
  padding: 20px 26px 27px 20px; }
  .input:focus {
    outline: none;
    border: 1px solid #ffd200; }

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer; }

.navbar {
  padding: 8px 0; }
  .navbar-block {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navbar__info {
    display: flex;
    align-items: center;
    text-align: right; }
  .navbar__address {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
    margin-top: -7px; }
  .navbar__button {
    margin-left: 30px;
    padding: 19px 30px 16px 21px;
    font-size: 14px; }
  .navbar__phone {
    display: inline-block;
    color: #333333;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    margin-top: 10px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
    margin-top: 6px; }

@media (max-width: 768px) {
  .navbar__contacts {
    display: none; }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px; }
  .navbar__logo {
    width: 90px; } }
@media (max-width: 567px) {
  .navbar__button {
    font-size: 10px;
    border-radius: 5px;
    padding: 16px 24px 12px 27px;
    margin-bottom: 6px; } }
.hero {
  padding: 50px 0;
  background: #f5f5f5; }
  .hero-block {
    display: flex;
    justify-content: space-between; }
  .hero-text__title {
    font-size: 40px;
    line-height: 55px;
    padding-bottom: 13px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
    max-width: 500px;
    margin-top: 24px;
    margin-left: -4px;
    letter-spacing: 0.6px; }
  .hero-text__subtitle {
    display: inline-block;
    font-size: 20px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
    margin-bottom: 67px; }
  .hero-list {
    margin: 0;
    padding: 0; }
    .hero-list__item {
      display: flex;
      margin-bottom: 25px;
      align-items: center;
      font-family: 'Museo Sans Bold', sans-serif;
      font-weight: 700;
      line-height: 24px; }
      .hero-list__item:last-child {
        margin-bottom: 0; }
    .hero-list__image {
      width: 40px;
      height: 40px;
      border: 2px solid #ffd200;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-right: 25px; }
    .hero-list__text {
      max-width: 300px;
      padding-left: 4px;
      font-size: 14px; }

@media (max-width: 1200px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 25px; }
  .hero-text__subtitle {
    font-size: 18px;
    padding-top: 20px; } }
@media (max-width: 768px) {
  .hero-block {
    flex-direction: column; }
    .hero-block__title {
      font-size: 24px;
      line-height: 1.4;
      margin-bottom: 15px; }
    .hero-block__subtitle {
      font-size: 16px;
      margin-bottom: 28px; }
  .hero-list__item {
    margin-bottom: 20px; }
  .hero-list__text {
    font-size: 12px; }
  .hero-list__image {
    margin-right: 15px; } }
@media (max-width: 567px) {
  .hero-text {
    margin-left: 6px; }
    .hero-text__title {
      margin-top: -2px;
      font-size: 24px;
      letter-spacing: -0.2px;
      line-height: 28px; }
    .hero-text__subtitle {
      margin-top: -41px;
      letter-spacing: -1.1px;
      margin-bottom: 62px; }
  .hero-list {
    margin-top: -19px;
    padding-left: 34px; }
    .hero-list__item {
      padding-bottom: 20px; }
    .hero-list__image {
      margin: -37px; }
    .hero-list__text {
      padding-left: 51px;
      line-height: 13px;
      margin-top: -3px;
      max-width: 262px; }
  .hero-image {
    margin-top: 24px;
    margin-left: 3px; } }
.offer {
  background: url("../img/offer-bg.png") no-repeat;
  background-size: contain;
  background-position: center right;
  position: relative; }
  .offer:before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff; }
  .offer-block {
    width: 50%;
    padding-right: 90px;
    position: relative; }
  .offer__title {
    max-width: 360px;
    line-height: 35px;
    margin-bottom: 24px;
    margin-top: 14px;
    text-align: left; }
  .offer__subtitle {
    max-width: 250px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
    letter-spacing: -0.4px; }
  .offer__input {
    margin-bottom: 30px;
    width: 240px;
    margin-right: 5px; }
  .offer__button {
    width: 100%;
    min-height: 70px; }
  .offer-text {
    display: flex;
    justify-content: space-between;
    margin-top: 25px; }
  .offer__offering {
    max-width: 230px;
    font-size: 15px;
    line-height: 24px;
    color: #333333;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
    letter-spacing: -0.2px;
    margin-left: -3px;
    margin-top: 1px; }
  .offer-phone {
    margin-right: 11px; }
  .offer__phone {
    display: block;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-top: 4px;
    margin-left: -2px; }

@media (max-width: 1200px) {
  .offer {
    background-size: cover; }
    .offer__input {
      width: 100%;
      margin-bottom: 10px; }
    .offer__button {
      font-size: 12px; } }
@media (max-width: 768px) {
  .offer {
    background: #fff; }
    .offer-block {
      width: 100%;
      padding-right: 0; } }
@media (max-width: 567px) {
  .offer-block {
    margin-top: 40px; }
  .offer__title {
    margin-top: -55px;
    font-size: 18px;
    line-height: 1.3;
    max-width: 268px; }
  .offer__subtitle {
    font-size: 14px;
    margin-top: -8px; }
  .offer__input {
    width: 275px;
    height: 65px;
    margin-top: -3px; }
  .offer__button {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1;
    width: 275px;
    height: 70px; }
  .offer-text {
    flex-direction: column;
    margin-top: 24px;
    margin-left: 6px; }
  .offer__offering {
    font-size: 15px;
    max-width: 240px;
    line-height: 1.5;
    letter-spacing: -0.1px;
    margin-top: -2px;
    padding-left: 1px; }
  .offer-phone {
    margin-top: 10px; }
  .offer__phone {
    margin-top: 5px; } }
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; }
  .modal_active {
    display: flex; }
  .modal-dialog {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: auto;
    max-width: 450px;
    width: 90%;
    min-width: 200px;
    background-color: #fff;
    padding: 40px;
    text-align: center; }
    .modal-dialog__close {
      position: absolute;
      top: 0;
      right: 0; }
    .modal-dialog__title {
      font-size: 22px;
      line-height: 33px;
      font-family: 'Museo Sans Bold', sans-serif;
      font-weight: 700;
      margin-top: 10px; }
    .modal-dialog__subtitle {
      display: block;
      font-size: 16px;
      font-family: 'Museo Sans Bold', sans-serif;
      font-weight: 700;
      margin-top: 5px; }
    .modal-dialog__form {
      margin-top: 50px; }
    .modal-dialog__input {
      width: 100%;
      margin-top: 15px; }
    .modal-dialog__button {
      margin-top: 20px;
      width: 100%;
      padding: 25px 30px; }
    .modal-dialog__text {
      font-size: 15px;
      font-family: 'Museo Sans Bold', sans-serif;
      font-weight: 700;
      margin-top: 30px; }
    .modal-dialog__phone {
      font-size: 24px;
      font-family: 'Museo Sans Bold', sans-serif;
      font-weight: 700;
      margin-top: 15px; }

@media (max-width: 567px) {
  .modal-dialog__title {
    font-size: 15px;
    line-height: 20px; }
  .modal-dialog__subtitle {
    font-size: 13px; }
  .modal-dialog__form {
    margin-top: 20px; }
  .modal-dialog__input {
    padding: 15px; }
  .modal-dialog__button {
    padding: 17px; }
  .modal-dialog__text {
    font-size: 11px; }
  .modal-dialog__phone {
    font-size: 18px; } }
.portfolio {
  background: #f5f5f5 url("../img/pattern.jpg") center left repeat-y;
  background-size: 50%; }
  .portfolio__title {
    max-width: 787px;
    margin: auto;
    margin-top: 62px;
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 100px; }

@media (max-width: 1200px) {
  .portfolio__title {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 55px; } }
@media (max-width: 567px) {
  .portfolio__title {
    font-size: 18px;
    margin-top: -29px;
    line-height: 22px;
    margin-bottom: 42px; }

  .owl-nav {
    margin-top: 10px; } }

/*# sourceMappingURL=style.css.map */
